<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Inventory Management System</h1>
        
        <!-- Navigation box for the menu items -->
        <div class="nav-box">
            <ul class="nav-links">
                <li><a href="{{ url_for('add_inventory_form') }}">Add Inventory Item</a></li>
                <li><a href="{{ url_for('check_inventory_form') }}">Check Inventory by Item ID</a></li>
                <li><a href="{{ url_for('items_below_limit') }}">Items Below Alert Limit</a></li>
                <li><a href="{{ url_for('expired_items') }}">Expired Items</a></li>
                <li><a href="{{ url_for('update_inventory_form') }}">Update Inventory Item</a></li>
                <li><a href="{{ url_for('delete_inventory') }}">Delete Inventory Item</a></li>
                <li><a href="{{ url_for('total_inventory_graph') }}">Total Inventory Graph</a></li>
                 <li><a href="{{ url_for('set_limit') }}">Set Medicine Limit</a></li>
                 <li><a href="{{ url_for('manage_equipment') }}">Medical Equipment</a></li>
                 <li><a href="{{ url_for('equipment_issue') }}">Issue Equipment</a></li>
                 <li><a href="{{ url_for('equipment_status') }}">Check Equipment Status</a></li>
                 <li><a href="{{ url_for('predict_demand') }}">Medicine Demand Prediction</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>  <!-- Logout button -->
            </ul>
        </div>
    </div>
</body>
</html>
